services: mongodb
language: ruby
rvm:
  - 1.9.3
script: "bundle exec rake db:drop db:create db:migrate spec"

gemfile:
  - Gemfile
branches:
  only:
    - master
  env:
    - DB=mysql
notifications:
  campfire:
    rooms:
      - 473d191d:8bdd447ce9660a31941922d48ab4862807db49c5@566129
    template:
      - "%{repository} (%{commit}) : %{message} %{foo} "
