.hero-unit
  %h2 Newrelic
  :erb
    <iframe src="https://rpm.newrelic.com/public/charts/hsHBWlinvL" width="725" height="425" scrolling="no" frameborder="no"></iframe>
.hero-unit
  %h2 Cloudinary
  = clc_image_tag('sample.png')
  %p cloudinary
  = image_tag('cloudinary_sample.png')
  %p local
.hero-unit
  %h2 
