.hero-unit
  %p 開発にリソースを集中
  %p Proactive Support
  %p スケール
  %p セキュリティ
  %p ssh & sudo & Support
  %p 24H * 365days 有人監視

.hero-unit
  %p PHP
  %p Ruby on Rails, Rack App
  %p Node.js
  %p Add-Ons
  %p Chef
  %p AWS

.hero-unit
  %p Github
  %p Groupon
  %p cerego(iKnow)
  %p Mediwave
  %p Newrelic
  %p Facebook

