- @mail_list.each do |mail|
  - body = mail['body']
  - ["From", "FromFull", "To", "ToFull", "Cc", "CcFull", "ReplyTo", "Subject", "MessageID", "Date", "MailboxHash", "TextBody", "HtmlBody", "Tag", "Headers", "Attachments"].each do |key|
    %p
      %span= key
      = body[key] || '--'
  %hr
