- @mail_list.each do |mail|
  - unless mail and mail['body']
    - body = mail['body']
    - ["From", "FromFull", "To", "ToFull", "Cc", "CcFull", "ReplyTo", "Subject", "MessageID", "Date", "MailboxHash", "TextBody", "HtmlBody", "Tag", "Headers", "Attachments"].each do |key|
      %p= body[key] rescue '-'
    %br
